<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp1.Properties.Settings.TWorksConnectionString"
            connectionString="Data Source=twdb114;Initial Catalog=TWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConsoleApp1.Properties.Settings.SandboxConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Sandbox;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
