<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp1.Properties.Settings.TWorksConnectionString"
            connectionString="Data Source=twsqldev2016;Initial Catalog=TWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp1.Properties.Settings.TWorksConnectionString1"
            connectionString="Data Source=twdb114;Initial Catalog=TWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp1.Properties.Settings.SandboxConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Sandbox;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp1.Properties.Settings.TristarrConnectionString"
            connectionString="Data Source=twdb011;Initial Catalog=Tristarr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>